
/* itemDtl */
.mgb-15{
    margin-bottom:15px;
}
.mgt-30{
    margin-top:30px;
}
.mgt-50{
    margin-top:50px;
}
.repImgDiv{
    margin-right:15px;
    height:auto;
    width:50%;
}
.repImg{
    width:100%;
    height:400px;
}
.wd50{
    height:auto;
    width:50%;
}

/* itemForm */
.input-group {
    margin-bottom : 15px
}
.img-div {
    margin-bottom : 10px
}
.fieldError {
    color: #bd2130;
}

/* itemMng */
<style>
select{
    margin-right:10px;
}
